
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <style>


        body {
            /*background-image: url("img_girl.jpg");*/
            /* Full height */
            height: 1500px;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .contrainer{
            margin-top:50px;
        }
       
    </style>
</head>

    
    <body background="~/bg.jpg">

        <div class="contrainer">
            <img src="~/art3.jpg" alt="Art" style="width:100%; height:500px">
          





        </div>



    </body>
</html>

