<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add  name="onlineauctionstrings"
          connectionString="Data Source=PLATOW42L0560;Initial Catalog=Online_Auction;Integrated Security=True"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>