
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DemoPage</title>
    <style>
        .nav {
            background-color:black;
            height:150px;
            width:initial;
        }
        .navi {
            float:right;
           margin-right:10px;
           margin:20px;
        }

        .navcontent {
            color: ghostwhite;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 20px;
            text-decoration: none;
            padding: 5px;
        }
        .navi {
            margin-top: 110px;
           
        }

    </style>
</head>
<body>
    <div class="nav">
        <
        <nav id="navbar" >
            <ul>
                <li class="navi">
                    <a href="Index" class="navcontent">Home</a>
                    <a href="About" class="navcontent">About</a>
                    <a href="Contact" class="navcontent">Contact Us</a>
                </li>
            </ul>

        </nav>
    </div>
</body>
</html>
